body{
  margin: 0;
  font-family: var(--font-sans);
  background: linear-gradient(180deg, var(--bg), rgba(250,250,250,0)) fixed;
  color: var(--text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
  line-height: 1.45;
}
